<div class="social social_cover">
	<koken:link share="facebook">
		<koken:asset file="inc/components/img/facebook.png" alt="Auf Facebook teilen!" class="icon"/>
	</koken:link> 
	<koken:link share="twitter">
		<koken:asset file="inc/components/img/twitter.png" alt="Jetzt twittern!" class="icon"/>
	</koken:link>
	<koken:link share="tumblr">
		<koken:asset file="inc/components/img/tumblr.png" alt="Auf Tumblr teilen!" class="icon"/>
	</koken:link>
	<koken:link share="google-plus">
		<koken:asset file="inc/components/img/gplus.png" alt="Auf Google Plus teilen!" class="icon"/>
	</koken:link>
</div>